.blog-post-title {
  background: khaki;
  padding: 8px;
  border-radius: 4px;
  margin: unset;
}
.blog-post-date {
  font-size:12px;
  text-align: right;
  margin: unset;
  margin-top: 2px;
}
.blog-post-tags {
  list-style-type: none;
  margin: unset;
  padding: unset;
}
.blog-post-tag {
  margin: unset;
  margin-right: 10px;
  padding: 4px;
  display: inline;
  background: burlywood;
  border-radius: 4px;
}
