body {
  background: beige;
  font-family: Verdana, sans-serif;
  margin: 0 auto;
  width: 900px;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border: solid 1px black;
}

table th, table td {
  padding: 5px 10px;
  border: dashed 1px black;
}
