.header-box {
  background: white;
  background-image: radial-gradient(lightsteelblue 50%, transparent 0), radial-gradient(lightsteelblue 50%, transparent 0);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
  box-sizing: border-box;
  padding: 15px;
}

.header-link {
  color: black;
}

.header-link:link, .header-link:visited, .header-link:hover, .header-link:active: {
  color: black;
}
