.index-box {
  margin: unset;
}

.index-date {
  margin: unset;
  font-size:12px;
}

.index-title {
  margin: unset;
}

.index-link {
  color: black;
}

.index-link:link, .index-link:visited {
  color: black;
}

.index-link:active, .index-link:hover {
  color: red;
}

.index-hr {
  border: 0;
  border-top: 1px dashed gray;
}
