.index-box {
  margin: unset;
}

.index-date {
  margin: unset;
  font-size:12px;
  text-align: right;
}

.index-title {
  background: khaki;
  padding: 8px;
  border-radius: 4px;
  margin: unset;
}

.index-link {
  color: black;
}

.index-link:link, .index-link:visited {
  color: black;
}

.index-link:active, .index-link:hover {
  color: red;
}
