.tags-date {
  margin: unset;
  font-size:12px;
  text-align: right;
}

.tags-title {
  background: khaki;
  padding: 8px;
  border-radius: 4px;
  margin: unset;
  height: 28px;
}

.tags-link {
  color: black;
}

.tags-link:link, .tags-link:visited, .tags-link:hover, .tags-link:active: {
  color: black;
}
